body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(50, 0, 0);
}

.whiteBG {
  background-color: rgb(255, 255, 255);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.whiteText {
  color: rgb(217, 217, 217);
}

.navStuff {
  color: rgb(0, 215, 208);
}

img {
  border-radius: 5px;
}

.paragraphContainer {
  display: flex;
  align-content: flex-start;
}
.content {
  flex-basis: 70%;
  margin: auto;
}
.flappyDiv {
  display: flex;
  width: 100%;
  justify-content: center;
}

